.register-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.register-page-container .register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 10rem;
  gap: 0.7rem;
}

.register-page-container .register-form h2 {
  text-align: center;
  color: var(--blue-700);
  text-transform: uppercase;
}